name: Windows x86_64 min

on:
  release:
    types: [published, edited]
  workflow_dispatch:


jobs:
  Build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12', '3.14', '3.14t']
        platform: [x64]
        with_contrib: [0]
        without_gui: [0, 1]
        build_sdist: [0]

    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      SDIST: ${{ matrix.build_sdist || 0 }}
      ENABLE_HEADLESS: ${{ matrix.without_gui }}
      ENABLE_CONTRIB: ${{ matrix.with_contrib }}
      OPENCV_TEST_DATA_PATH: ${{ github.workspace }}\opencv_extra\testdata

    steps:
    - name: Cleanup
      shell: bash
      run: |
        rm -rf ./* || true
        rm -rf ./.??* || true
      working-directory: ${{ github.workspace }}

    - name: Setup environment
      shell: bash
      run: |
        if [[ "${{ github.event_name }}" == "schedule" || "${{ github.event_name }}" == "workflow_dispatch" ]]; then
          echo "ENABLE_ROLLING=0" >> $GITHUB_ENV
        fi

    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: false
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.platform }}

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: Setup NASM
      uses: ilammy/setup-nasm@v1

    - name: Build a package
      # CMake 3.25 regression fix. See https://stackoverflow.com/questions/74162633/problem-compiling-from-source-opencv-with-mvsc2019-in-64-bit-version
      run: |
        python --version
        python -m pip install --upgrade pip setuptools
        python -m pip install cmake==3.31.6 numpy toml
        python -c "import toml; c = toml.load('pyproject_min.toml'); print('\n'.join(c['build-system']['requires']))" >> requirements.txt | python -m pip install -r requirements.txt
        set "CI_BUILD=1" && python setup_min.py bdist_wheel --dist-dir=%cd%\wheelhouse -v
      shell: cmd

    - name: Saving all wheels
      uses: actions/upload-artifact@v4
      with:
        name: wheel-${{ matrix.with_contrib }}-${{ matrix.without_gui }}-${{ matrix.build_sdist }}-${{ matrix.platform }}-${{ matrix.python-version }}
        path: wheelhouse/opencv*

    - name: Update GitHub Release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.event.release.tag_name }}
        name: ${{ github.event.release.name }}
        draft: false
        prerelease: false
        files: |
          wheelhouse/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
